.cs-sidebar {
  border-radius: 3px;
  box-shadow: 0 0 5px .01px rgba(0,0,0, .1);
  background: #FFFFFF;
  height: calc(100vh - 1.5rem);

  hr {
    border: none;
    height: 1px;
    background: rgba(0,0,0, .1);
    width: 90%;
    margin: 0 5%;
  }

  .cs-sidebar-logo {
    color: #0d47a1;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cs-sidebar-logo-text {
    margin-bottom: 0;
  }
}
