.cs-panel {
  .cs-panel-body {
    padding: 0 .75rem;

    .datepicker-box {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .datepicker-template {
        width: 100%;
        padding: 0 6px 8px 6px;

        .datepicker-input {
          box-shadow: 0 0 6px 0.1px rgba(13,71,161, 1);
          border: none;
          border-radius: 2px;
          padding: .4rem .6rem;
          width: 100%;
        }
      }
    }

    .cs-income-box {
      &.card {
        border: none;
        box-shadow: 0 0 6px 0.1px rgba(2,119,189, 1);
        position: relative;

        .card-header {
          z-index: 1;

          &:before {
            position: absolute;
            background: rgba(2,119,189, 1);
            content: '';
            top: 0;
            left: 0;
            width: 64%;
            height: 100%;
            clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
            z-index: -1;
          }
        }

        .card-title {
          font-weight: bold;
          color: rgba(255,255,255, 1);
          display: flex;
          justify-content: space-between;
          align-items: center;

          .card-title-with-icon {
            display: flex;
            align-items: center;
          }

          .text-left {
            font-size: .75rem;
          }

          .text-right {
            color: rgba(2,119,189, 1);
          }
        }
      }
    }

    .cs-profit-box {
      &.card {
        border: none;
        box-shadow: 0 0 6px 0.1px rgba(0,105,92, 1);
        position: relative;

        .card-header {
          z-index: 1;

          &:before {
            position: absolute;
            background: rgba(0,105,92, 1);
            content: '';
            top: 0;
            left: 0;
            width: 64%;
            height: 100%;
            clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
            z-index: -1;
          }
        }

        .card-title {
          font-weight: bold;
          color: rgba(255,255,255, 1);
          display: flex;
          justify-content: space-between;
          align-items: center;

          .card-title-with-icon {
            display: flex;
            align-items: center;
          }

          .text-left {
            font-size: .75rem;
          }

          .text-right {
            color: rgba(0,105,92, 1);
          }
        }
      }
    }

    .cs-project-realizations-box {
      &.card {
        border: none;
        box-shadow: 0 0 6px 0.1px rgba(69,39,160, 1);
        position: relative;

        .card-header {
          z-index: 1;

          &:before {
            position: absolute;
            background: rgba(69,39,160, 1);
            content: '';
            top: 0;
            left: 0;
            width: 64%;
            height: 100%;
            clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
            z-index: -1;
          }
        }

        .card-title {
          font-weight: bold;
          color: rgba(255,255,255, 1);
          display: flex;
          justify-content: space-between;
          align-items: center;

          .card-title-with-icon {
            display: flex;
            align-items: center;
          }

          .text-left {
            font-size: .75rem;
          }

          .text-right {
            color: rgba(69,39,160, 1);
          }
        }
      }
    }

    .cs-invoices-number-box {
      &.card {
        border: none;
        box-shadow: 0 0 6px 0.1px rgba(216,67,21, 1);
        position: relative;

        .card-header {
          z-index: 1;

          &:before {
            position: absolute;
            background: rgba(216,67,21, 1);
            content: '';
            top: 0;
            left: 0;
            width: 64%;
            height: 100%;
            clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
            z-index: -1;
          }
        }

        .card-title {
          font-weight: bold;
          color: rgba(255,255,255, 1);
          display: flex;
          justify-content: space-between;
          align-items: center;

          .card-title-with-icon {
            display: flex;
            align-items: center;
          }

          .text-left {
            font-size: .75rem;
          }

          .text-right {
            color: rgba(216,67,21, 1);
          }
        }
      }
    }
  }
}
